<div class="table-container">
    <div>
        <h1 style="text-align: center;">this content is only visible to super admin🤞</h1>
    </div>
    <table class="roles-permissions-table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Add</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Super Admin</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>✓</td>
                <td>✓</td>
                <td>✗</td>
            </tr>
            <tr>
                <td>Sales</td>
                <td>✗</td>
                <td>✓</td>
                <td>✗</td>
            </tr>
        </tbody>
    </table>
</div>