<div class="login-container">
    <div class="login-form">
        <h2>Login</h2>
        <form [formGroup]="form" autocomplete="off">
            <div class="form-group">
                <label for="email">User Name</label>
                <input type="text" formControlName="userName" autofocus autocomplete="off" id="email" name="email"
                    required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" autocomplete="off" id="password" name="password"
                    required>
            </div>
            <button class="btn" (click)="getLoginData()">Login</button>
        </form>
    </div>
</div>