<div class="login-container">
    <section class="data">
        <h5>please select any username to login from next 👇; password is auto 123</h5>
        <h3>username: superadmin</h3>
        <h3>username: admin</h3>
        <h3>username: teamleader</h3>
        <h3>username: sales</h3>
    </section>
    <div class="login-form">
        <h2>Login</h2>
        <form [formGroup]="form" autocomplete="off">
            <div class="form-group">
                <label for="email">User Name</label>
                <input type="text" formControlName="userName" autofocus autocomplete="off" id="email" name="email"
                    required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" autocomplete="off" id="password" name="password"
                    required>
            </div>
            <button class="btn" (click)="getLoginData()">Login</button>
        </form>
    </div>
</div>