<div class="container">
    <h2>Actions Center</h2>
    @if(roleAccess.hasPermission(Permission.Edit)) {
    <button (click)="submit()" class="btn">Edit</button>
    }
    @if(roleAccess.hasPermission(Permission.Add)) {
    <button (click)="submit()" class="btn">Add</button>
    }
    @if(roleAccess.hasPermission(Permission.Delete)) {
    <button (click)="submit()" class="btn">Delete</button>
    }
    @if(roleAccess.hasPermission(Permission.View)) {
    <button (click)="submit()" class="btn">View</button>
    }
</div>
@if(user| async; as user) {

<div *appHasRole="{roles:[Roles.SuperAdmin], role:user.role.name}" class="section admin">
    <h2>Super Admin</h2>
    <ul>
        <li>Manage Users</li>
        <li>Access All Sections</li>
        <li>Modify Settings</li>
    </ul>
</div>

<div *appHasRole="{roles:[Roles.Admin, Roles.SuperAdmin], role:user.role.name}" class="section editor">
    <h2>Admin</h2>
    <ul>
        <li>Edit Content</li>
        <li>Publish Articles</li>
        <li>Access Media Library</li>
    </ul>
</div>

<div *appHasRole="{roles:[Roles.Sales, Roles.Admin, Roles.SuperAdmin, Roles.TeamLeader], role:user.role.name}"
    class="section viewer">
    <h2>Sales & Teamleader</h2>
    <ul>
        <li>View Content</li>
        <li>Leave Comments</li>
        <li>Subscribe to Newsletters</li>
    </ul>
</div>
}